{% extends "base.html.twig" %}

{% block title %}
Send SMS
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}

        {% if sms_timelimit_message is empty %}
        <div class="sms-form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        {% else %}
        <div class="message">{{ sms_timelimit_message }}<div>
        {% endif %}

    {% else %}

        <div class="action">
            <div class="message">Please Login first:<div>
            <a href="{{ path('app_login') }}">Login</a>
        </div>
        
    {% endif %}
   
{% endblock %}

