<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex w-100">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_base') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if is_granted('ROLE_USER') %}
      <li class="nav-item dropdown w-100">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('sms_base') }}">My Account</a>
          <a class="dropdown-item" href="{{ path('sms_form') }}">Send SMS</a>
          <a class="dropdown-item" href="{{ path('sms_history') }}">History</a>
        </div>
      </li>
      <li class="nav-item d-flex justify-content-lg-end w-100">
        <a class="nav-link" href="{{ path('app_logout') }}">Logout ({{ app.user.username }})</a>
      </li> 
      {% else %}
      <li class="nav-item d-flex justify-content-lg-end w-100">
        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
      </li>      
      {% endif %}
    </ul>
  </div>
</nav>